/* Container Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Splits grid columns into 4 with middle taking up 2 fractional units */
    gap: 2em;
    padding: 1em;
    padding-bottom: 6em;
    position: relative;
    top: 5em; /* Pushes the container down */
}

/* leftSidebar & Right Sidebar */
.leftSidebar, .rightSidebar , main{
    background-color: white;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px; /*Rounded corners*/
    box-shadow: 20px 20px 50px #018a54; /*Shadow effect*/
}
main{
    font-weight: normal;
    color:black;
}

.leftSidebar h2, .rightSidebar h2 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    background-color: #ae0049;
    padding-bottom: 5px;
    border-radius: 10px;
}

.leftSidebar ul, .rightSidebar ul {
    list-style: none;
    padding: 0;
}

.leftSidebar li, .rightSidebar li {
    padding: 5px 0;
}

.links a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.profile img {
    max-width: 15em;
    border-radius: 100%; /* Makes the image border circular */
    border: 5px solid #ae0049;
    box-shadow: 0px 0px 20px #ae0049;
}

.profile p {
    font-size: 1rem;
    font-family: Lora;
}

/* Side contents */
.skills, .hobbies, .research, .education {
    background-color: #223247;
    border-radius: 10px;
}

.skills ol {
    padding-left: 1em;
    list-style: none;
}

.skills img {
    max-width: 2em;
}

.hobbies ul, .research ul, .education ul {
    padding-left: 1em;
}

#education, #skills {
    scroll-margin-top: 5rem; /* Adjusts the scroll position to be top of section when jumping to them*/
}