body{
    position: relative;
    top: 5em;
    color: white;
}
form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 5em;
}

fieldset{
    border: solid 1pt #e31b6d;
    box-shadow: 0px 0px 50px #018a54;
    background-color: #223247;
    position: relative;
}

legend{
    background-color: #e31b6d;
    color: white;
    font-weight: bold;
    padding-left: 10rem;
    padding-right: 10rem;
    margin:auto;
    width: auto;
}

.textarea-container {
    position: relative; /* Ensures the container stays in place */
}

textarea {
    height: 200px; /* Sets a fixed height */
    padding: 10px; /* Adds some padding inside the textarea */
    font-size: 16px; /* Sets the font size */
    resize: vertical;
    overflow: auto;
}

textarea, #title {
    border: 3px solid #018a54;
}

#login{
    position: relative;
}

button{
    color: white;
    font-size: 100%;
    background-color: #e31b6d;
}

button:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%
}

.empty {
    border: 2px solid #e31b6d !important;
    box-shadow: 0 0 5px rgba(227, 27, 109, 0.5) !important;
    animation: pulse 0.5s ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}