@media only screen and (max-width: 768px) {
    /* .footer {
        flex-direction: column;
        text-align: center;
    }
    
    .socials {
        margin-top: 1em;
    } */

    /* Navigation */
    nav ul {
        position: fixed;
        top: 4em;
        right:-200%;
        background-color: #111821;
        opacity: 0.8;
        width: 100%;
        height: 70%;
        margin-bottom: 10em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.7s;
    }

    .checkbtn {
        display: block;
    }

    #check:checked ~ ul {
        right: 0;
    }
    
    /* Adjust grid layout on home page*/
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 2em;
        margin-right: 0;
        top: 0;
    }

    .links a {
        padding: 0.5em;
    }

    /* Ensure profile section comes first */
    main {
        order: -1;
    }

    /* Adjust pfp size */
    .profile img {
        width: 100%;
    }

    /* Sidebar adjustments */
    .leftSidebar, .rightSidebar, main {
        width: 100%;
        margin-top: 3em;
    }
    
    /* Login and Add Post pages */
    form {
        width: 90%;
        margin: 1em auto;
    }
    
    fieldset {
        padding: 1em;
    }
    
    #title, #blog, #email, #password {
        width: 100%;
        box-sizing: border-box;
    }
    
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    .buttons button {
        width: 100%;
    }
    
    /* Projects page */
    h2 {
        font-size: 1.8em;
        text-align: center;
        margin: 0.5em 0;
    }
    
    .project {
        width: 100%;
        margin-bottom: 2em;
        padding: 1em;
        box-sizing: border-box;
    }
    
    .project h3 {
        font-size: 1.3em;
    }
    
    .project p.languages ul {
        padding-left: 1em;
    }
    
    /* Alert messages */
    .alert {
        width: 90%;
        margin: 1em auto;
        padding: 0.8em;
        font-size: 0.9em;
    }
    
}