@media only screen and (max-width: 768px) {
     .footer {
        flex-direction: column;
        text-align: center;
    }
    
    .socials {
        margin-top: 1em;
    }

    /* Navigation */
    nav ul {
        position: fixed;
        top: 4em;
        right:-200%;
        background-color: #111821;
        opacity: 0.8;
        width: 100%;
        height: 70%;
        margin-bottom: 10em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.7s;
    }

    .checkbtn {
        display: block;
    }

    #check:checked ~ ul {
        right: 0;
    }
    

    /* Adjust grid layout on home page*/
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 2em;
        margin-right: 0;
        margin-bottom: 10em;
        top: 0;
    }

    .links a {
        padding: 0.5em;
    }

    main {
        order: -1;
    }

    .profile img {
        width: 100%;
    }

    .leftSidebar, .rightSidebar, main {
        width: 100%;
        margin-top: 3em;
    }
    

    /* Login and Add Post pages */
    form {
        width: 70%;
        margin: 1em auto;
        padding: 0;
    }
    legend {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    fieldset {
        padding: 0;
    }
    
    /* #title, #blog, #email, #password {
        width: 100%;
        box-sizing: border-box;
    } */
    
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
    
    .buttons button {
        width: 100%;
    }
    

    /* Blog page */
    .blog-posts {
        padding: 3em;
        margin-bottom: 1em;
    }

    .comment-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .blog-container h2 {
        font-size: 2em;
    }


    /* Projects page */
    h2 {
        font-size: 3em;
        text-align: center;
        margin: 0.5em 0;
    }
    
    .project {
        padding: 1em;
    }
    
    .project h3 {
        font-size: 1.5em;
    }
    
    /* Alert messages */
    .alert {
        width: 90%;
        margin: 1em auto;
        padding: 0.8em;
        font-size: 0.9em;
    }
    
}